extends ../layout

block content
	include ../nav
	include ../mixins

	- var name = user.name
	- var type = user.type
	- var provider = user.provider
	- var isUser = false
	- if(user.photo !== undefined)
		profileImage = user.photo.versions[1].url
	- else
		profileImage = ''
	- if(provider === 'google')
		profileImage = user.google.picture
	- else if(provider === 'facebook')
		profileImage = 'https://graph.facebook.com/'+user.facebook.username+'/picture?type=large'
	- else if(provider === 'linkedin')
		profileImage = user.linkedin.pictureUrl


	- if(user.id === req.user.id)
		isUser = true

	if(message !== undefined)
		p message	
	.profile-wrapper
		if(isUser)
			span.loading.hide
			.uploadImage.hide
				form(action="/users/upload/"+user.id,method="post",id="upload",enctype="multipart/form-data")
					input(type='hidden', name='_csrf', value="#{csrf_token}")
					input(type="file", name="profPhoto", class="hide", id='inputFile')
					.form-actions
						a(href="#",id="triggerFile", class="btn btn-primary btn-embossed btn-huge btn-danger") Upload Image
						input(type="submit", name="upload", class="btn btn-embossed btn-huge btn-danger hide", value="Upload Photo")

			.cropImage.hide
				form(action="/users/crop/"+user.id,method="post",id="crop")
					input(type='hidden', name='_csrf', value="#{csrf_token}")
					fieldset
						legend click on the image below and drag
						ul.thumbnails
							li.span4
								.thumbnail
									img(class="pre-processed")
						input(type="hidden",name="coordx1",id="coordx1")
						input(type="hidden",name="coordy1",id="coordy1")
						input(type="hidden",name="coordx2",id="coordx2")
						input(type="hidden",name="coordy2",id="coordy2")
						input(type="hidden",name="w",id="w")
						input(type="hidden",name="h",id="h")
						input(type="hidden",name="image")
						input(type="hidden",name="original")
						.form-actions
								input(type="submit", name="crop", class="btn btn-embossed btn-huge btn-danger", value="Crop & Save")
			.profile.container
				.profile-content
					if(profileImage !== "")	
						a.triggerUpload
							img(src=profileImage, class="profile-img")
					else
						a.triggerUpload
							i.fui-plus-inverted.profile-default-img.profile-img	
					.profile-txt
						span.user-type=type
						.profile-location
							if(user.location !== "")
								-
								span.location=" "+user.location
						h4.name-title= name
						if(user.miniresume !== "")			
							p.mini-resume=user.miniresume
						else if(isUser)
							p.mini-resume Edit your profile to add your mini resume	
						ul.social-links
							mixin social(user.links.website, "fui-home")
							mixin social(user.links.blog, "fui-document")
							mixin social(user.links.googleplus, "fui-googleplus")
							mixin social(user.links.facebook, "fui-facebook")
							mixin social(user.links.linkedin, "fui-linkedin")
							mixin social(user.links.twitter, "fui-twitter")
							mixin social(user.links.dribbble, "fui-dribbble")
							mixin social(user.links.behance, "fui-behance")
							mixin social(user.links.github, "fui-github")
					if(isUser)
						a.btn.btn-small.btn-primary.edit-profile.btn-embossed(href="#edit", id="editPorfile") Edit
				if(isUser)			
					.edit-profile-wrapper.hide.container
						form.edit-form(action='/users/edit')
							input(type='hidden', name='_csrf', value="#{csrf_token}")
							ul.profile-btns
								li
									a.btn.btn-small.btn-embossed(href="#cancel", id="cancel") Cancel
								li	
									input.btn.btn-small.btn-primary.btn-embossed(href="#save", type="submit", value="Save") 
							.clearfix
							.edit-profile-block.left
								h6 Basics
								hr
								mixin fields("Full Name","text","name", "", user.name, "", true)
								mixin fields("Username","text","username", "", user.username, "", true)
								mixin fields("Location","text","location", "eg. Byblos", user.location, "", true)
								mixin textarea("Mini-Resume", "miniresume", "span6", "4", "Tell us briefly about yourself...", user.miniresume, true, "320")
								
							.edit-profile-block.right
								h6 Links
								hr
								mixin fields("Website","URL","website", "http://", user.links.website, "links", flase)
								mixin fields("Blog","URL","blog", "http://", user.links.blog, "links", false)
								mixin fields("Google+","URL","googleplus", "http://", user.links.googleplus, "links", false)
								mixin fields("Linkedin","URL","linkedin", "http://", user.links.linkedin, "links", false)
								mixin fields("Twitter","URL","twitter", "http://", user.links.twitter, "links", false)
								mixin fields("Facebook","URL","facebook", "http://", user.links.facebook, "links", false)
								mixin fields("Github","URL","github", "http://", user.links.github, "links", false)
								mixin fields("Dribbble","URL","dribbble", "http://", user.links.dribbble, "links", false)
								mixin fields("Behance","URL","behance", "http://", user.links.behance, "links", false)

	.container
		if(user.type === "Entrepreneur")
			.row.span7.profile-block
				if(isUser)
					button.add-startup.btn.btn-small.right + Add a Startup	
				h6 Startups
				if( user.startups.length !== 0)
					em
						span=user.name 
						span  is the Co-Founder of:
				else
					em
						span=user.name  
						span  haven't added any startups yet.		
				hr
				.startups-wrapper
					- each startup in startups
						- if(startup.logo !== "" && startup.logo.versions !== undefined && startup.logo.versions !== null)
							startupLogo = startup.logo.versions[1].url
						- else
							startupLogo = ""

						.startup-block
								.logo
									a.startup-link(href="/startups/"+startup._id, title=startup.name, data-content="<p>"+startup.tagline+"</p><a href='#'>"+startup.website+"</a>")
										if(startupLogo === "")
											i.fui-plus-inverted.startup-default-img
										else
											img.startup-default-img(src=startupLogo)	
								.title
									a.title(href="#")=startup.name

				if(isUser)
					form.startup-form(action="/startups/create", method="POST")
						ul.profile-btns
									li
										a.btn.btn-small.cancel-startup(href="#cancel") Cancel
									li	
										input.btn.btn-small.btn-primary(href="#save", type="submit", value="Create")	
						input(type='hidden', name='_csrf', value="#{csrf_token}")
						.clearfix
						.control-group.small
							label(class="control-label") Name
							.controls
								input.links(type="text", name="name")
						.control-group.small
							label(class="control-label") Tag-Line
							.controls
								input.links(type="text", name="tagline", placeholder="Describe your startup in a single line.")	
						.control-group.small
							label(class="control-label") Website
							.controls
								input.links(type="URL", name="website",placeholder="http://")			
						.control-group
							label(class="control-label") Description
							textarea(name="description",placeholder="Tell us briefly about your startup.")
		else
			.row.span7.profile-block
				h6 Invested In
				hr
				.startups-wrapper
					a.add-startup(href="#") + Add an Investment				
		.row.profile-sidebar.profile-block.last	
			h6 Activity
			em
				span Stalk  
				span= user.name
			hr
			span no activities yet.

	if( user.type === '')		
		.modal.fade.hide#type
				.modal-header
					h3 You're one step away from joining our network!
				form.form-horizontal.type-form(action='/users/type', method="POST")
					input(type='hidden', name='_csrf', value="#{csrf_token}")
					.modal-body
						label.radio.primary
							.icons
								.first-icon.fui-radio-unchecked
								.second-icon.fui-radio-checked
							span I'm an Entrepreneur	
							input(type="radio",name="type", value="Entrepreneur",data-toggle="radio") 
						label.radio.primary
							.icons
								.first-icon.fui-radio-unchecked
								.second-icon.fui-radio-checked
							span  I'm an Angel Investor	
							input(type="radio",name="type", value="Angel Investor",data-toggle="radio")
							.loading.hide
					.modal-footer
						input(class="btn btn-wide btn-primary btn-embossed",type="submit",id="submitForm", value="Enter")
			script.
				$(document).ready(function(){
					$('#type').modal({backdrop: 'static',keyboard: false})
					$('#type').modal('show');
				})


							